# Compiled class files
target/
build/
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.rar

# Log files
*.log
log/
logs/

# IDE-specific files
.idea/             # IntelliJ IDEA
*.iml              # IntelliJ IDEA project files
*.iws              # IntelliJ IDEA workspace files
*.ipr              # IntelliJ IDEA project files
.project           # Eclipse
.classpath         # Eclipse
.settings/         # Eclipse
.vscode/           # Visual Studio Code

# Maven specific files
.mvn/wrapper/maven-wrapper.jar

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows

# Test reports and results
allure-results/
test-output/
surefire-reports/
failsafe-reports/

# Selenide specific
.selenide/

# WebDriver executables
drivers/
